<!DOCTYPE html>
<html lang="en" ng-app="SpeedTyperApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Typer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="SpeedTyperController">
    <button id="settings-btn" class="settings-btn" ng-click="toggleSettings()">
        <i class="fas fa-cog"></i>
    </button>

    <div id="settings" class="settings" ng-class="{ 'hide': !settingsVisible }">
        <form id="settings-form">
            <div>
                <label for="difficulty">Difficulty</label>
                <select id="difficulty" ng-model="difficulty" ng-change="saveDifficulty()">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
        </form>
    </div>

    <div class="container">
        <h2>👩‍💻 Speed Typer 👨‍💻</h2>
        <small>Type the following:</small>

        <h1>{{ word }}</h1>

        <input type="text" id="text" autocomplete="off" placeholder="Type the word here..." ng-model="text" ng-change="checkWord()" ng-disabled="endgameVisible" autofocus />

        <p class="time-container">Time left: <span id="time">{{ time }}s</span></p>

        <p class="score-container">Score: <span id="score">{{ score }}</span></p>

        <div id="end-game-container" class="end-game-container" ng-show="endgameVisible">
            <h1>Time ran out</h1>
            <p>Your final score is {{ score }}</p>
            <button ng-click="resetGame()">Reload</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
